<div class="container">
    <div class="row">


        <div class="col-md-2">
            <h1>有
                <small>yǒu</small>
            </h1>
            <span class="badge">动</span> verb

</div>
        <div class="col-md-5">

            <dl class="dl-horizontal">
                <dt>have</dt>
                <dd>有, 具有, 拥有, 具备, 有着, 带有</dd>
                <dt>be</dt>
                <dd>是, 为, 有, 在, 做, 当</dd>
                <dt>exist</dt>
                <dd>存在, 有, 存, 生存, 在, 是</dd>

            </dl>

            </div>

        <div class="col-md-5">

            <dl class="dl-horizontal">
                <dt>starting</dt>
                <dd> 有零, 有碍, 有变, 有别, 有病, 有偿, 有成</dd>
                <dt>ending</dt>
                <dd>伴有, 保有, 持有, 存有, 带有</dd>

            </dl>

        </div>

        </div>

    <hr>

    <div class="row">


            <h3>Sentences</h3>

            <div class="col-md-4">
                <h6>Movies & TV</h6>

                <ul class="list-unstyled">
                    <li>车厢里只有我们两个人。</li>
                    <li>hēxiāng lǐ zhǐyǒu wǒmen liǎng gèrén.</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample1">
                    <ul class="list-unstyled">
                        <li>car in only we both individual people</li>
                        <li>There were just two of us in the compartment.</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>这附近有商店吗？</li>
                    <li>hè fùjìn yǒu shāngdiàn ma?</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample2">
                    <ul class="list-unstyled">
                        <li>cthis nearby have store ma?</li>
                        <li>Are there any shops in the vicinity?</li>
                    </ul>
                </div>


                <ul class="list-unstyled">
                    <li>艾米给我看了一个有说服力的研究</li>
                    <li>hÀi mǐ gěi wǒ kànle yīgè yǒu shuōfú lì de yánjiū</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Amy give me kan le one ge have convincing power performance</li>
                        <li>Amy showed me a convincing study</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>对认知能力有好处</li>
                    <li>Duì rèn zhī nénglì yǒu hǎochù</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>有点过于上心吗</li>
                    <li>Yǒudiǎn guòyú shàng xīn ma</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>远离所有科技 在树林待了四天后<</li>
                    <li>Yuǎnlí suǒyǒu kējì zài shùlín dàile sì tiānhòu </li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>为什么没有出现更多的天才松鼠</li>
                    <li>Wèishéme méiyǒu chūxiàn gèng duō de tiāncái sōngshǔ</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>不行 你有孕在身</li>
                    <li>Bùxíng nǐ yǒu yùn zài shēn</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>


                <ul class="list-unstyled">
                    <li>虽然我有最爱的人选</li>
                    <li>Suīrán wǒ yǒu zuì ài de rénxuǎn</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>


            </div>

            <div class="col-md-4">
                <h6>Dictionaries & Online</h6>

                <ul class="list-unstyled">
                    <li>车厢里只有我们两个人。</li>
                    <li>hēxiāng lǐ zhǐyǒu wǒmen liǎng gèrén.</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample1">
                    <ul class="list-unstyled">
                        <li>car in only we both individual people</li>
                        <li>There were just two of us in the compartment.</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>这附近有商店吗？</li>
                    <li>hè fùjìn yǒu shāngdiàn ma?</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample2">
                    <ul class="list-unstyled">
                        <li>cthis nearby have store ma?</li>
                        <li>Are there any shops in the vicinity?</li>
                    </ul>
                </div>


                <ul class="list-unstyled">
                    <li>艾米给我看了一个有说服力的研究</li>
                    <li>hÀi mǐ gěi wǒ kànle yīgè yǒu shuōfú lì de yánjiū</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Amy give me kan le one ge have convincing power performance</li>
                        <li>Amy showed me a convincing study</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>对认知能力有好处</li>
                    <li>Duì rèn zhī nénglì yǒu hǎochù</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>有点过于上心吗</li>
                    <li>Yǒudiǎn guòyú shàng xīn ma</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>远离所有科技 在树林待了四天后<</li>
                    <li>Yuǎnlí suǒyǒu kējì zài shùlín dàile sì tiānhòu </li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>为什么没有出现更多的天才松鼠</li>
                    <li>Wèishéme méiyǒu chūxiàn gèng duō de tiāncái sōngshǔ</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>不行 你有孕在身</li>
                    <li>Bùxíng nǐ yǒu yùn zài shēn</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>


                <ul class="list-unstyled">
                    <li>虽然我有最爱的人选</li>
                    <li>Suīrán wǒ yǒu zuì ài de rénxuǎn</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>


            </div>

            <div class="col-md-4">
                <h6>Public Domain Books</h6>

                <ul class="list-unstyled">
                    <li>车厢里只有我们两个人。</li>
                    <li>hēxiāng lǐ zhǐyǒu wǒmen liǎng gèrén.</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample1">
                    <ul class="list-unstyled">
                        <li>car in only we both individual people</li>
                        <li>There were just two of us in the compartment.</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>这附近有商店吗？</li>
                    <li>hè fùjìn yǒu shāngdiàn ma?</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample2">
                    <ul class="list-unstyled">
                        <li>cthis nearby have store ma?</li>
                        <li>Are there any shops in the vicinity?</li>
                    </ul>
                </div>


                <ul class="list-unstyled">
                    <li>艾米给我看了一个有说服力的研究</li>
                    <li>hÀi mǐ gěi wǒ kànle yīgè yǒu shuōfú lì de yánjiū</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Amy give me kan le one ge have convincing power performance</li>
                        <li>Amy showed me a convincing study</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>对认知能力有好处</li>
                    <li>Duì rèn zhī nénglì yǒu hǎochù</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>有点过于上心吗</li>
                    <li>Yǒudiǎn guòyú shàng xīn ma</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>远离所有科技 在树林待了四天后<</li>
                    <li>Yuǎnlí suǒyǒu kējì zài shùlín dàile sì tiānhòu </li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>为什么没有出现更多的天才松鼠</li>
                    <li>Wèishéme méiyǒu chūxiàn gèng duō de tiāncái sōngshǔ</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>

                <ul class="list-unstyled">
                    <li>不行 你有孕在身</li>
                    <li>Bùxíng nǐ yǒu yùn zài shēn</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>


                <ul class="list-unstyled">
                    <li>虽然我有最爱的人选</li>
                    <li>Suīrán wǒ yǒu zuì ài de rénxuǎn</li>
                    <li> <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        >
                    </a></li>
                </ul>
                <div class="collapse" id="collapseExample3">
                    <ul class="list-unstyled">
                        <li>Towards cognitive ability have benefit</li>
                        <li>Good for cognitive abilitiy</li>
                    </ul>
                </div>


            </div>

    </div>

</div>
